
a.editLink {
display: inline;
padding-left: 7px;
margin: 0px;
border: 0px;
color: #0088cc;
font-size:0.90em;
font-style: italic;
}
a.editLink:hover {
display: inline;
padding-left: 7px;
margin: 0px;
border: 0px;
color: #005580;
font-size:0.90em;
font-style: italic;
}

.block-heading a.myDivLink {
display: inline;
padding-left: 7px;
margin: 0px;
border: 0px;
color: #0088cc;
font-size:11px;
font-style: italic;
background: none;
}

.block-heading a.myDivLink:hover {
display: inline;
padding-left: 7px;
margin: 0px;
border: 0px;
color: #005580;
font-size:11px;
font-style: italic;
background: none;
}

span.adaugatDe {
display: block;
padding-left: 10px;
margin: 0px;
border: 0px;
color: #bbbbbb;
font-size:11px;
font-style: italic;
}
 
 
a.fisierLink {
display: inline;
margin: 0px;
border: 0px;
color: #000000;
font-size:1em;
font-weight: bold;
}
a.fisierLink:hover {
display: inline;
margin: 0px;
border: 0px;
color: #0088cc;;
font-size:1em;
font-weight: bold;
}
.pull-right-adline {
  float: right;
  text-align: right;
}

.header .titlu {
  font-family: georgia, serif;
  font-style: italic;
  font-size: 1.1em;
  padding-top: 6px;
  padding-left: 7px;
}

.signin_left{
display: block;
margin-top: 5em;
float: left;
width: 400px;
}

input.cauta{
  margin-bottom: 0px;
  margin-left: 25px;

}

input.input-xxlarge{
  width: 600px;
}

input.uppercase {
    text-transform: uppercase;
    color: #838482;
}

input.lowercase {
    text-transform: lowercase;
    color: #838482;
    
}

input.capitalize {
    text-transform: capitalize;
    color: #838482;
}

input.myRequired {
    color: #a91625;
}

.stanga{
display: inline;
float: left;
margin-right: 7px;
font-weight: bold;
font-size: 0.9em;
}

.dreapta{
display: inline;
float: right;
margin-right: 7px;
font-weight: bold;
font-size: 0.9em;
}

.paginaActivitati{
border: 0px solid #ccc;
width: 60%;
min-width: 630px;
font-size:0.9em;
font-family: 'Droid Sans';
}

.paginaActivitate{
border: 0px solid #ccc;
}

.celulaActivStanga{
border: 0px solid #ccc;
float: left;
width: 190px;
text-align: right;
margin: 6px 0px;
}

.celulaActivMijloc{
border: 0px solid #ccc;
float: left;
width: 60px;
margin: 0px 6px;
text-align: center;
}

.celulaActivDreapta{
border: 0px solid #ccc;
float: left;
width:360px;
text-align: left;
text-align: justify;
margin: 6px 0px;
font-size: 1.1em;

}

.paginaPostIt{
border: 0px solid #ccc;
width:380px;
font-family: 'Droid Sans';
font-size: 1.4em;
}

a.firmaActiv{
font-weight: bold;
font-size: 1.3em;
color: #005580;
}

a.firmaActiv:hover{
font-weight: bold;
font-size: 1.3em;
color: #000000;
}

.imgActiv{
width: 46px;
border: 0px solid blue;
zoom: 1;
filter: alpha(opacity=100);
opacity: 1;

}
.imgActiv:hover{
width: 48px;
border: 0px solid blue;
zoom: 1;
filter: alpha(opacity=80);
opacity: 0.8;

}

.editarePostIt  a{
margin: 10px;
float: right;
color: #red;
text-shadow: none;
font-size:11px;
font-style: italic;
}