<!DOCTYPE html>
<html lang="en">
    <head>
        <title>MyServerName</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="css/bootstrap.min.css" />
        <link rel="stylesheet" href="css/bootstrap-responsive.min.css" />  
        <link rel="stylesheet" href="css/unicorn.main.css" />
        <link rel="stylesheet" href="../lib/select2-3.4.1/select2.css" />
        <!--link rel="stylesheet" href="css/select2.css" /-->
        <link rel="stylesheet" href="css/unicorn.grey.css" class="skin-color" />
    </head>
    <body>  
        <div id="header">
            <h1><a href="./dashboard.html">Server Dashboard</a></h1>       
        </div>
       
        <div id="search">
            <input type="text" placeholder="Search here..."/><button type="submit" class="tip-right" title="Search"><i class="icon-search icon-white"></i></button>
        </div>

        <div id="user-nav" class="navbar navbar-inverse">
            <ul class="nav btn-group">
                <li class="btn btn-inverse"><a title="" id="button-logout" href="login.html"><i class="icon icon-share-alt"></i> <span class="text">Logout</span></a></li>
            </ul>
        </div>
        <div id="sidebar">
            <a href="#" class="visible-phone"><i class="icon icon-home"></i> Dashboard</a>  
            <ul id="id_menu_groups"></ul>
        </div>
        <div id="content">
            <div id="content-header">
                <h1 id="id-title-area">MyServerName8</h1>
            </div>
            <div id="breadcrumb">
                <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a>
            </div>
            <div class="container-fluid">
                <div class="row-fluid" style="margin-top:10px;">
                    <div id="id-message-area">
                    </div>
                </div> 
                <div class="row-fluid" style="margin-top:0px;"> 
                    <div id="id-operative-area" class="span12">
                    </div>
                </div>
            </div>

            <div class="row-fluid">
                <div id="footer" class="span12">
                    MyServerName - &copy; 2013 <a href="http://www.profifoto.ro">profifoto</a>
                </div>
            </div>
        </div>
        <!-- Begin Including JS scripts -->

        <script src="../lib/js/excanvas.min.js"></script>
        <script src="../lib/js/jquery.min.js"></script>

        <script src="../lib/js/jquery.flot.min.js"></script>
        <script src="../lib/js/jquery.flot.resize.min.js"></script>
        <script src="../lib/js/jquery.peity.min.js"></script>>
        <script src="../lib/js/unicorn.js"></script>
        <script src="../lib/underscore/underscore-min.js"></script>
        <script src="../lib/jquery/jquery-1.8.3.js"></script>
        <script src="../lib/bootstrap/js/bootstrap.min.js"></script>
        <!-- script src="../lib/js/select2.js"></script>
        <script src="../lib/js/select2.min.js"></script -->

        <script src="../lib/select2-3.4.1/select2.js"></script>

        <script src="../lib/DataTables-1.9.4/media/js/jquery.dataTables.js"></script>
        <script src="../lib/DataTables-1.9.4/extras/TableTools/media/js/TableTools.js"></script>
        <script src="../lib/DataTables-1.9.4/extras/TableTools/media/js/ZeroClipboard.js"></script>
        <script src="../lib/jquery.address-1.5/jquery.address-1.5.min.js"></script>
        <script src="../lib/node-uuid/uuid.js"></script>

        <script src="../js/utils.js"></script>
        <script src="../js/table.js"></script>
        <script src="../js/panel.js"></script>
        <script src="../js/tab_panel.js"></script>
        <script src="../js/grid_layout.js"></script>
        <!-- script src="../json/we.json" type="text/javascript" charset="utf-8"></script -->
        

    </body>
</html>
